
.form-group {
  margin:8px;
}

body {
  font-size: 18px;
  margin:0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #00B300;

}

.divider {
  border-top: 1px solid #d9dadc;
  display: block;
  line-height: 1px;
  margin: 15px 0;
  position: relative;
  text-align: center;
}
label {
  color: #69AF82;
    text-decoration: none;
    font-weight: 200;
    /* font-family: Circular,Helvetica,Arial,sans-serif; */
    font-size: 16px;
    line-height: 1.5;
}
form {
      margin: 0px 30px 30px 30px;
}
input {
  padding-left: 7px;
  color: #2e2f33;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9dadc;
  border-radius: 0;
  height: 32px;
}
#stateIndicator {
  text-align: center;
    font-style: normal;
    font-size: medium;
}
.myButton {

	box-shadow: inset 0px 1px 0px 0px #C6D4BD;
	background: linear-gradient(to bottom, #9DD892 5%, #95B784 100%);

	background-color: #4D7B48;
	border: 1px solid #80CE76;
	text-align: center;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom,  #4D7B48 5%,  #4D7B48 100%);
	background-color: #4D7B48;
}
.myButton:active {
	position:relative;
	top:1px;
}
.buttonHolder{
    text-align: center;
}
